<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/main_layout}">

  <th:block layout:fragment="css">
    <style>
      .table-box{
        height: 600px;
        margin: 0 auto;
      }
      .table-box td:nth-child(4), td:nth-child(5){
        text-align: right;
      }
      .table a{
        text-decoration: none;
        color: black;

        &:hover{
          color: blue;
          font-weight: 600;
        }
      }
      .b-search{
        display: flex;
        flex-wrap: wrap;
      }
      .left{
        flex: 3;
      }
      .right{
        flex: 1;
      }
      .sch-select{
        height: 34px;
        width : 120px;
        border-radius: 10px;
      }
      .sch-input{
        height: 34px;
        width: 170px;
        border-radius: 10px;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
    <!-- 여기 영역에만 코드 기입 -->
    <main class="container">
      <section class="contents">
        <header class="mt-5 text-center">
          <h3>게시판 목록</h3>
        </header>
        <article class="my-3 b-search">
          <div class="left">
            <select class="sch-select" id="searchType" name="searchType">
              <option th:selected="${searchType != null and searchType == 'all'}" value="all">전체</option>
              <option th:selected="${searchType != null and searchType == 'title'}" value="title">제목</option>
              <option th:selected="${searchType != null and searchType == 'writer'}" value="writer">작성자</option>
            </select>
            <input type="text" class="sch-input" id="searchText" name="searchText" th:value="${searchText != null ? searchText : ''}">
            <button type="button" class="btn btn-warning" onclick="searchBoard()">검색</button>
          </div>
          <div class="right text-end">
            <button type="button" class="btn btn-success" onclick="writeBoard();">글 등록</button>
          </div>
        </article>
        <article class="table-box">
          <input type="hidden" id="currentPage" th:value="${data.currentPage}">
          <div>
            <table class="table">
              <colgroup>
                <col style="width: 10%"/>
                <col style="width: 40%"/>
                <col style="width: 15%"/>
                <col style="width: 10%"/>
                <col style="width: 25%"/>
              </colgroup>
              <thead>
              <tr class="table-dark text-center">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회 수</th>
                <th>최종 수정일</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item : ${data.list}">
                <td>[[${item.seq}]]</td>
                <td>
                  <a href="javascript:void(0);" th:onclick="|showDetail(${item.seq});|">
                    [[${item.title}]]
                  </a>
                </td>
                <td>[[${item.writer}]]</td>
                <td>[[${item.readCount}]]</td>
                <td>[[${#temporals.format(item.createDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center" th:utext="${data.pageHtml}">

          </ul>
        </nav>
      </section>
    </main>

    <script>
      const searchParam = () => {
        searchType : ''
        searchText : ''
      }

      function movePage(pageNum){
        if(searchParam.searchText.trim().length > 0){
          //검색어가 없으면 그냥 all 출력
          location.href = `/board/search?searchType=${searchParam.searchType}&searchText=${searchParam.searchText}&currentPage=${pageNum}`
        }else {
          location.href = `/board/list?currentPage=${pageNum}`
        }
      }

      $(document).ready(() => {
        setActiveMenu();
        initSearchParam();
      })

      const writeBoard = () => {
        const pageNum = $('#currentPage').val();
        location.href = `/board/form/view?currentPage=${pageNum}`;
      }

      const showDetail = (seq) => {
        const pageNum = $('#currentPage').val();
        location.href = `/board/detail/view?currentPage=${pageNum}&seq=${seq}`;
      }

      const searchBoard = () => {
        //파라미터 만들기
        initSearchParam();
        //검색어가 없으면 그냥 all 출력
        location.href = `/board/search?searchType=${searchParam.searchType}&searchText=${searchParam.searchText}`
      }

      function initSearchParam(){
        searchParam.searchType  = $('#searchType option:selected').val();
        searchParam.searchText  = $('#searchText');
      }

    </script>
  </div>

</html>